/* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke: rgba(0, 145, 255, 0.25);
    /* Control the thikness of your lines */
    stroke-width: 3px;
  }
  
  /* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
  .ct-series-a .ct-point {
    /* Colour of your points */
    stroke: rgba(0, 145, 255, 0.75);
    /* Size of your points */
    stroke-width: 4px;
    /* Make your points appear as squares */
    stroke-linecap: circle;
  }

.threshold {
  stroke: red;
  stroke-width: 1px;
  stroke-dasharray: 3;
  opacity: 80%;
}
