@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #2E2E3A;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: bold;
    color: #F2F2F3;
}

.charts-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.dashboard-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.line-graph-container {
    flex: 1;
    padding-right: 1rem;
}

.info-warning-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.info-container, .warning-container {
    width: 52.5%;
    padding: 0px;
    box-sizing: border-box;
    margin-bottom: 0px;
    margin-left: 0.5rem;
}

.chart-container {
    background-color: #323239;
    border: 2px solid #4D4A4F;
    box-shadow: 2px 2px 0px #333;
    margin-bottom: 1rem;
    padding: 0.2rem;
    border-radius: 4px;
}

.chart-container h3 {
    font-size: 18px;
    font-weight: bold;
    color: #F2F2F3;
    margin: 0;
}

.ct-chart {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.info-container h3, .warning-container h3 {
    font-size: 18px;
    font-weight: bold;
    color: #F2F2F3;
    margin-bottom: 1rem;
}

/* HEADER */
header {
    width: 100%;
    height: 60px;
    background-color: #1D3B58;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.title {
    color: #F2F2F3;
    margin: 0;
}

.title a {
    color: #f0f0f0;
    text-decoration: none;
    padding: 5px 10px; /* Increase horizontal padding */
    border-radius: 4px;
    transition: background-color 0.3s;
}

.title a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    padding-bottom: 0px; /* Increase padding at the bottom */
}

.header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f0f0f0;
    transition: background-color 0.3s;
    padding: 5px;
    margin-left: 30px; /* Increase space between buttons */
    border-radius: 4px;
}

.button-container {
    display: flex;
    align-items: center;
}

.header-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
}

.button-text {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    }
    
    .container {
    margin-top: 72px;
    }
    
    /* END OF HEADER */
    
    /* Footer */
footer {
background-color: #4D4A4F;
width: 100%;
padding: 20px 0;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
bottom: 0;
}

.footer-text {
color: #F2F2F3;
font-size: 14px;
font-family: 'Roboto', sans-serif;
margin: 0;
}

    /* END OF Footer */
    
    