body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 50%;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: bold;
    color: #333;
}

.charts-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.charts-row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.chart-container {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border: 4px solid #333;
    box-shadow: 2px 2px 0px #333;
    margin-bottom: 20px;
}

.chart-container-left {
    border-right: 2px solid #333;
}

.chart-container-right {
    border-left: 2px solid #333;
}

.chart-container-full {
    border-left: 0;
    border-right: 0;
}

.chart-container h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.ct-chart {
    width: 100%;
    height: 65%;
    margin: 0 auto;
}
