{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/archive_raw.css') }}">

<h2>Archive</h2>

<div class="date-container">
    <h3>{{ date }}</h3>
    <div class="date-button-container">
        <h3 class="date-button-prev"><a href="{{ url_for('archive_raw', date=prev_date) }}">previous</a></h3>
        {% if next_date is not none %}
            <h3 class="date-button-next"><a href="{{ url_for('archive_raw', date=next_date) }}">next</a></h3>
        {% endif %}
    </div>
</div>

<div class="chart-container">
    <h3>No archive data</h3>
</div>

{% endblock content %}
