{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/config.css') }}">
<div class="wraper">
  <div class="config-form">
    <form id="config-form">
      {% for section, settings in config.items() %}
      <fieldset>
        <legend>{{ section }}</legend>
        {% for setting in settings %}
          <div class="form-group">
            <div class="label-container">
              <div class="info-icon" data-description="{{ setting.description }}">i</div>
              <label for="{{ section }}-{{ setting.name }}" class="label-text">{{ setting.name }}</label>
            </div>
            {% if setting.datatype == "int" or setting.datatype == "float" %}
              <input type="number" name="{{ section }}-{{ setting.name }}" id="{{ section }}-{{ setting.name }}" data-type="{{ setting.datatype }}" value="{{ setting.value }}">

            {% elif setting.datatype == "int%" %}
              <input type="number" name="{{ section }}-{{ setting.name }}" id="{{ section }}-{{ setting.name }}" data-type="{{ setting.datatype }}" value="{{ setting.value }}">

            {% elif setting.datatype == "boolean" %}
              <div class="switch" for="checkbox">
                <input type="hidden" name="{{ section }}-{{ setting.name }}" value="false">
                <input type="checkbox" id="{{ section }}-{{ setting.name }}" name="{{ section }}-{{ setting.name }}" data-type="{{ setting.datatype }}" {% if setting.value == "true" %}checked{% endif %}>
                <label for="{{ section }}-{{ setting.name }}" class="slider round"></label>
              </div>
            {% elif setting.datatype == "dropdown" %}
              <select id="{{ section }}-{{ setting.name }}" name="{{ section }}-{{ setting.name }}" data-type="{{ setting.datatype }}">
                {% for disk in disks %}
                  {% if disk == setting.value %}
                    <option value="{{ disk }}" selected="selected">{{ disk }}</option>
                  {% else %}
                    <option value="{{ disk }}">{{ disk }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            {% else %}
              <input type="text" name="{{ section }}-{{ setting.name }}" id="{{ section }}-{{ setting.name }}" data-type="{{ setting.datatype }}" value="{{ setting.value }}">
            {% endif %}
            <input type="hidden" name="{{ section }}-{{ setting.name }}-description" value="{{ setting.description }}">
            <input type="hidden" name="{{ section }}-{{ setting.name }}-category" value="{{ setting.category }}">
            <input type="hidden" name="{{ section }}-{{ setting.name }}-datatype" value="{{ setting.datatype }}">
          </div>
        {% endfor %}
      </fieldset>
      {% endfor %}
      <button type="button" id="save-config" class="save-config-button">Save</button>
    </form>
  </div>
</div>
<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<script src="{{ url_for('static', filename='js/tooltip.js') }}"></script>
{% endblock %}
