{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/data_report.css') }}">

<div hidden id="dataThresholds" data-thresholds="{{ thresholds }}"></div>
<div hidden id="dataMinute" data-minute_data="{{ minute_data }}"></div>

<div class="layout-container">
    <div class="date-container">
        <h3>{{ date }}</h3>
        <div class="date-info">
            <h4>Data recorded from: <span>{{ first_timestamp }}</span> - <span>{{ last_timestamp }}</span></h4>
            <h4>Data points: <span>{{ total_points_original }}</span> reduced to <span>{{ total_points_reduced }}</span> (<span>{{ point_per_minute }}</span> points per minute)
            </h4>
        </div>
    </div>


    <div class="date-selector-container date-container">
        <input class="date-selector-input" id="custom-date" type="date" value="{{ date }}"></input>
        <h3 class="date-button-prev"><a href="{{ url_for('data_report', date=prev_date) }}">prev</a></h3>

        <h3 class="date-button-next {% if next_date is none %}disabled{% endif %}">
            <a href="{% if next_date is not none %}{{ url_for('data_report', date=next_date) }}{% else %}#{% endif %}">next</a>
        </h3>
    </div>
    

    <div class="settings-container date-container">
        <div class="left-settings">
            <label for="graph-setting">Graph view:</label>
            <select class="metric-select" name="graph" id="select-graph-metric">
                {% for daily_metric in daily_data %}
                    {% for metric in daily_metric.keys() %}
                        <option value="{{ metric }}">{{ metric }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>

        <div class="right-setting">          
          <h3 class="button-raw-archive"><a href="{{ url_for('archive_raw', date=date) }}">Raw data</a></h3>
        </div>
    </div>
</div>


<!-- <div class="data-report-table">
    <table id="daily-data" class="daily-data-table">
        <tr>
            <th></th>
            <th>Count</th>
            <th>Max</th>
            <th>Avg</th>
        </tr>
        {% for daily_metric in daily_data %}
            {% for metric, values in daily_metric.items() %}
                <tr>
                    <th>{{ metric }}</th>
                    <td>{{ values['daily_counts'] }}</td>
                    <td>{{ values['daily_max'] }}</td>
                    <td>{{ values['daily_avg'] }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
</div> -->

<div class="all-charts-container">
    <div class="main-chart-container">
        <div id="main-chart" class="chart-container">
            <div class="chart-dropdown-container">
                <h3 id="main-chart-title">Chart</h3>
                <select class="line-dropdown" name="graph" id="select-graph-line">
                    <option value="all" selected="selected">All (reduced)</option>
                    <option value="average">Average</option>
                    <option value="min">Min</option>
                    <option value="max">Max</option>
                </select>
            </div>
            <div id="minute-metrics-chart" class="ct-chart ct-double-octave"></div>
        </div>
    </div>

    <div class="gauge-charts-container">
        {% for daily_metric in daily_data %}
            {% for metric in daily_metric.keys() %}
                {% if not metric == "DISK" %}
                    <div class="chart-container">
                        <h3>{{ metric }}</h3>
                        <div id="gauge-chart-{{ metric }}" class="ct-chart ct-chart-gauge ct-square"></div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <div class="chart-container">
            <h3>Cycle</h3>
            <div id="gauge-chart-3" class="ct-chart ct-chart-gauge ct-square"></div>
        </div>  
    </div>
</div>


<script src="{{ url_for('static', filename='js/draw_data_report.js') }}"></script>
{% endblock content %}
