{% extends "layout.html" %}
{% block content %}

<div hidden id="dataSelector" data-interval="{{ interval }}" data-thresholdgpu="{{ threshold_GPU }}" data-thresholdcpu="{{ threshold_CPU }}" data-thresholdram="{{ threshold_RAM }}"></div>

<div class="dashboard-wrapper">
    <div class="line-graph-container">
        <div class="chart-container">
            <h3>CPU</h3>
            <div id="cpu-usage-chart" class="ct-chart ct-double-octave"></div>
        </div>

        <div class="chart-container">
            <h3>GPU</h3>
            <div id="gpu-usage-chart" class="ct-chart ct-double-octave"></div>
        </div>

        <div class="chart-container">
            <h3>RAM</h3>
            <div id="ram-usage-chart" class="ct-chart ct-double-octave"></div>
        </div>

        <div class="chart-container">
            <h3>Disk Read Speed</h3>
            <div id="disk-read-speed-chart" class="ct-chart ct-double-octave"></div>
        </div>
    </div>

    <div class="info-warning-container">
        <div class="info-container">
            <h3>Info Container</h3>
            <div id="info-cpu" class="info-metrics"></div>
            <div id="info-gpu" class="info-metrics"></div>
            <div id="info-ram" class="info-metrics"></div>
            <div id="info-disk" class="info-metrics"></div>
        </div>

        <div class="warning-container">
            <h3>Warning Container</h3>
        </div>
    </div>

<script src="{{ url_for('static', filename='js/draw_charts.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard_containers.js') }}"></script>
{% endblock content %}
