<!DOCTYPE html>
<html>
<head>
    <title>AVInsight</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='chartist_dist/chartist.min.css') }}">
    <script src="{{ url_for('static', filename='chartist_dist/chartist.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/charts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="title"><a href="{{ url_for('index') }}">AVInsight</a></h1>
        <div class="button-container">

            <a class="header-link" href="{{ url_for('index') }}" id="dashboard-link">
                <img src="{{ url_for('static', filename='imgs/dashboard.png') }}" alt="dashboard" class="icon">
                <span class="button-text">Dashboard</span>
            </a>
            <a class="header-link" href="{{ url_for('data_report') }}" id="data-report-link">
                <img src="{{ url_for('static', filename='imgs/data_report.png') }}" alt="data-report" class="icon">
                <span class="button-text">Data report</span>
            </a>
            <a class="header-link" href="{{ url_for('config') }}" id="config-link">
                <img src="{{ url_for('static', filename='imgs/config.png') }}" alt="config" class="icon">
                <span class="button-text">Config</span>
            </a>
            <!-- <a class="header-link" href="{{ url_for('archive_raw') }}" id="archive-link">
                <img src="{{ url_for('static', filename='imgs/archive.png') }}" alt="archive_raw" class="icon">
                <span class="button-text">Archive (RAW)</span>
            </a> -->
            
        </div>
    </header>

    <div class="container">
        <div>{% block content %}{% endblock %}</div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
